<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/"  class="btn btn-link">to main</button>
    </div>
    <div class="info">
        <strong>here author</strong>
        <small>12.03.2021</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi illo natus, voluptas necessitatibus, obcaecati deleniti numquam asperiores, quibusdam sunt quasi eos officia. Accusantium quisquam fuga ut commodi rem rerum eaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi illo natus, voluptas necessitatibus, obcaecati deleniti numquam asperiores, quibusdam sunt quasi eos officia. Accusantium quisquam fuga ut commodi rem rerum eaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi illo natus, voluptas necessitatibus, obcaecati deleniti numquam asperiores, quibusdam sunt quasi eos officia. Accusantium quisquam fuga ut commodi rem rerum eaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi illo natus, voluptas necessitatibus, obcaecati deleniti numquam asperiores, quibusdam sunt quasi eos officia. Accusantium quisquam fuga ut commodi rem rerum eaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi illo natus, voluptas necessitatibus, obcaecati deleniti numquam asperiores, quibusdam sunt quasi eos officia. Accusantium quisquam fuga ut commodi rem rerum eaque?</p>
    </div>
</div>
